<!DOCTYPE html>
<html lang="en">
	<head>
		{%load static%}
		<title>Home</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		
		<link  rel="stylesheet" href="{% static 'booking/css/booking.css' %}" >
		<link  rel="stylesheet" href="{% static 'css/camera.css' %}" >
		<link  rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" >
		<link  rel="stylesheet" href="{% static 'css/style.css' %}" >
		<link  rel="stylesheet" href="{% static 'css/reset.css' %}" >
		<link  rel="stylesheet" href="{% static 'css/grid.css' %}" >
		<link  rel="stylesheet" href="{% static 'css/superfish.css' %}" >
		<link  rel="stylesheet" href="{% static 'css/font-awesome.css' %}" >
		
		<link rel="icon" href="images/favicon.ico">
		<link rel="shortcut icon" href="images/favicon.ico" />
		
		<!--
		<link  type="text/css" href="../static/css/camera.css" />
		<link  type="text/css" href="../static/booking/css/booking.css" />
		<link  type="text/css" href="../static/css/owl.carousel.css" />
		<link  type="text/css" href="../static/css/style.css" />
		<link  type="text/css" href="../static/css/reset.css" />
		<link  type="text/css" href="../static/css/grid.css" />
		<link  type="text/css" href="../static/css/superfish.css" />
		<link  type="text/css" href="../static/css/font-awesome.css" />
		-->

		<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/superfish.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.ui.totop.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.equalheights.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.mobilemenu.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/camera.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery.mobile.customized.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'booking/js/booking.js' %}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				jQuery('#camera_wrap').camera({
					loader: false,
					pagination: false ,
					minHeight: '444',
					thumbnails: false,
					height: '28.28125%',
					caption: true,
					navigation: true,
					fx: 'mosaic'
				});
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
	</head>
	<body class="page1" id="top">
		<div class="main">
<!--==============================header=================================-->
			<!-- navbar -->
			{%include 'navbar.html'%}

			
			<div class="slider_wrapper ">
				<div id="camera_wrap" class="">
					<div data-src="{% static 'images/nsit2.jpg' %}" ></div>
					<div data-src="{% static 'images/nsit3.jpg' %}" ></div>
					<div data-src="{% static 'images/slide.jpg' %}" ></div>
					
				</div>
			</div>
			<div class="container_12">
				<div class="grid_4">
					<div class="banner">
						<div class="maxheight">
							<div class="banner_title">
							    <img src="{% static 'images/icon1.png' %}", alt="icon1">
								<div class="extra_wrapper">Fast &amp;
									<div class="color1">Safe</div>
								</div>
							</div>
							We provide cabs with fastest rate.
							All the drivers are registered.
						</div>
					</div>
				</div>
				<div class="grid_4">
					<div class="banner">
						<div class="maxheight">
							<div class="banner_title">
							    <img src="{% static 'images/icon2.png' %}", alt="icon2">
								<div class="extra_wrapper">Best
									<div class="color1">Prices</div>
								</div>
							</div>
							Our aim is to provide customers with the minimum possible cost.
						</div>
					</div>
				</div>
				<div class="grid_4">
					<div class="banner">
						<div class="maxheight">
							<div class="banner_title">
							    <img src="{% static 'images/icon5.jpg' %}", alt="icon5">
								<div class="extra_wrapper"> Choose
									<div class="color1">riders</div>
								</div>
							</div>
							We provide you the names of fellow passengers and a platform for communication between all the riders.
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>

<!--==============================Content=================================-->
			<div class="content"><div class="ic"></div>
				<div class="container_12">
					<div class="grid_5">
						<h3>Book a cab</h3>
						<form id="bookingForm" method = "POST">
							{%csrf_token%}
							<div class="tmInput mr0">
								<input name="destination" id="destination" placeHolder="To:" type="text" data-constraints="@NotEmpty @Required">
								<script>
								function initMap() {
									var input = document.getElementById('destination');

									var autocomplete = new google.maps.places.Autocomplete(input);

									autocomplete.addListener('place_changed', function() {
										var place = autocomplete.getPlace();
										console.log(place);
									});
								}
								</script>
								<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR9lt1hVQn_oWnGFAs9vP_yyZ-ORaVGz0=initMap"></script>
							</div>

							<div class="clear"></div>
							<strong>Time</strong>
							<div class="tmInput">
								<input name="time" id="tmtime" type="text" data-constraints="@NotEmpty @Required">
                                  <script>
                                        var today = new Date();
                                        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                                        document.getElementById("tmtime").value = time;
                                </script>
							</div>
							<div class="clear"></div>
							<strong>Date</strong>
							<label class="tmDatepicker">
								<input type="text" name="Date"  id="tmdate" data-constraints="@NotEmpty @Required @Date">
                                <script>
                                        var today = new Date();
                                        var date = today.getDate() + '/' + (today.getMonth()+1) + '/' + today.getFullYear();
                                        document.getElementById("tmdate").value = date;
                                </script>
							</label>
							<div class="clear"></div>
							<!-- <a href="/addRequest" class="btn" data-type="submit">Submit</a> -->
                            <input type="submit" class="btn">

							{%if messages%}
								{%for message in messages%}
									<p style="color: green;">{{message}}</p>
								{%endfor%}
							{%endif%}

						</form>
					</div>
					<div class="grid_6 prefix_1">
						<div class="type"><img src="{% static 'images/page1_img1.jpg' %}" alt=""><span class="type_caption">Book Cab</span></div>
						<div class="type"><img src="{% static 'images/loc.jpg' %}" alt=""><span class="type_caption">Live Location</span></div>
						<div class="type"><img src="{% static 'images/comm.jpg' %}" alt=""><span class="type_caption">Share stories</span></div>
					</div>  
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_phone"><span>Call Us:</span> + 91xxxxxxxxxx</div>
					<div class="socials">
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-google-plus"></a>
					</div>
					<div class="copy">
						<div class="st1">
						<div class="brand">Book<span class="color1">T</span>axi </div>
						&copy; 2019	| <a href="#">Privacy Policy</a> </div> Website designed for BTP
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>